@media only screen and (max-width: 1600px) {
    .head-copy {
    top: 58%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 100%;
    text-align: center; 
    width: 55%; 
}
}

@media only screen and (max-width: 1200px) {
    
    .head-copy {
    top: 62%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 100%;
    text-align: center; 
    width: 55%; 
}
    
    .long-copy { 
    padding-left: 15px; 
    padding-right: 15px;
    font-size: 90%; 
}     
    
    .main-nav li {
    display: inline-block; 
    margin-left: 150px; 
}
    
}

@media only screen and (max-width: 1023px) {
    
    .head-copy {
    font-size: 100%; 
    padding-top: 10px; 
    width: 60%; 
}
    
    .long-copy { 
    padding-left: 25px; 
    padding-right: 25px;
    font-size: 100%; 
}     
    
}

@media only screen and (max-width: 767px) {
    .head-copy {
    font-size: 90%; 
    padding-top: 10px; 
    width: 80%; 
    top: 63%;  
}
    
}

@media only screen and (max-width: 480px) {
     
}